/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
/* @import url('./timer.css'); */
/* @import url('./snackbar.css'); */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.14;
  margin-left: 80px;
  color: #213547;
  text-transform: uppercase;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 40px;
  margin-left: 140px;
}

.link {
  display: inline-block;
  padding: 0.5rem 1.25rem;

  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.87);

  background-color: #646cff;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}

.link:hover,
.link:focus {
  color: rgba(255, 255, 255, 0.87);
  background-color: #747bff;
}
